<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="xarm6_box_base2_ee">
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="ros_namespace" default="xarm"/>
  <xacro:arg name="limited" default="false"/>
  <xacro:arg name="effort_control" default="false"/>
  <xacro:arg name="velocity_control" default="false"/>
  <xacro:arg name="attach_to" default="jackal_sim"/>

  <!-- load xarm6 robot -->
  <xacro:include filename="$(find xarm_description)/urdf/xarm6_robot_macro.xacro" />
  <xacro:xarm6_robot prefix="$(arg prefix)" namespace="$(arg ros_namespace)" 
    limited="$(arg limited)" effort_control="$(arg effort_control)" 
    velocity_control="$(arg velocity_control)" attach_to="$(arg attach_to)" 
    rpy="0 0 0" xyz="0.18 0.0 0.127"/>

  <!-- load ee --> 
  <xacro:include filename="$(find xarm_description)/urdf/end_effector/xarm_ee15cm.xacro" />
  <xacro:load_ee attach_to="$(arg prefix)link_eef" 
    effort_control="$(arg effort_control)" 
    velocity_control="$(arg velocity_control)" xyz="0 0 0.077" />

  <link name="base_link"/>

  <joint name="gr_to_jack" type="fixed">
    <parent link="base_link"/>
    <child link="jackal_sim_base"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <link name="jackal_sim_base"/>

  <joint name="jack_to_jack_base" type="fixed">
    <parent link="jackal_sim_base"/>
    <child link="jackal_sim"/>
    <origin xyz="0.0 0.0 0.125" rpy="0.0 0.0 0.0"/>
  </joint>

  <link name="jackal_sim">
    <visual>
      <geometry>
        <box size="0.508 0.430 0.25"/>
      </geometry>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.508 0.430 0.25"/>
      </geometry>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0"/>
      <mass value="17.0"/>
      <inertia ixx="0.4541323333" ixy="0.0" ixz="0.0" iyy="0.6275323333" iyz="0.0" izz="0.3504833333"/>
    </inertial>
  </link>

  <joint name="chassis_to_box" type="fixed">
    <parent link="jackal_sim"/>
    <child link="control_box"/>
    <origin xyz="-0.1 0.0 0.327" rpy="0.0 0.0 0.0"/>
  </joint>

  <link name="control_box">
    <visual>
      <geometry>
        <box size="0.1 0.145 0.4"/>
      </geometry>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.18 0.145 0.4"/>
      </geometry>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    </collision>
    <inertial>
      <origin xyz="0.0 0.0 0.0"/>
      <mass value="1.6"/>
      <inertia ixx="0.004936533333" ixy="0.0" ixz="0.0" iyy="0.007123333333" iyz="0.0" izz="0.003419866667"/>
    </inertial>
  </link>

  

</robot>
